---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro"
import Spinner from "../components/Spinner.astro"
import Submit from "../components/Submit.astro"
---

<Layout>
  <main>
    <Title />

    <section class="max-w-xl md:max-w-4xl mx-auto grid grid-cols-1 place-items-stretch">
      <div id="main" class="m-8"></div>

      <Spinner />

      <Submit />
    </section>
  </main>
</Layout>
<script type="module" async src="../src/js/rls.js"></script>

<script type="module"></script>
