<footer class="pt-8 pb-4 px-10 bg-base-300 sticky top-[100vh]">
  <p class="text-center text-sm text-base-content">
    If you have any questions about this sleep disorder screening tool, please do not hesitate to <a
      href="mailto:sleepmatters@partners.org"
      >email us</a> at sleepmatters@partners.org.
  </p>
  <p class="text-center text-sm text-base-content">
    <a href="https://www.brighamandwomens.org/initiatives/sleep-matters/sleep-matters-initiative" target="_blank" rel="noopener">
      Copyright &copy; {new Date().getFullYear()} Mass General Brigham. All Rights Reserved.</a
    >
  </p>

  </div>
</footer>