---
import { Icon } from "astro-icon"
import { SITE } from "~/config.mjs"
---

<span class="self-center ml-2 text-2xl font-extrabold whitespace-nowrap">
  <a href="https://www.brighamandwomens.org/medicine/sleep-and-circadian-disorders/overview" target="_blank" rel="noopener noreferrer">
    <Icon name="mgb" class="w-8 h-12 inline-block" />
  </a>
  <a href="https://sleep.hms.harvard.edu" target="_blank" rel="noopener noreferrer">
    <Icon name="harvard" class="w-12 h-12 inline-block" />
  </a>
  <span class="px-2 text-capitalize text-base-300 font-semibold text-clip">
    <a href="" id="restart" data-home={SITE.origin}> {SITE.name}</a>
  </span>
</span>

<style>
  [astro-icon="mgb"] {
    vertical-align: middle;
    fill: #009ca6;
  }
</style>
<script src="../js/global.js"></script>
