---
import Logo from "./Logo.astro"
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-primary-focus/70 backdrop-blur-sm text-xl">
  <div class="mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4 md:py-1">
    <div class="flex items-center justify-between">
      <Logo />
    </div>
    <span class="px-2 self-center font-normal text-base-300 xs:hidden grow-0"> <a href="./about">About</a></span>
  </div>
</header>
