---
import Logo from "./Logo.astro"
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full bg-primary-focus/70 backdrop-blur-sm text-xl">
  <div class="mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4 md:py-1">
    <div class="flex justify-between">
      <a class="flex items-center" href="#">
        <Logo />
      </a>
    </div>
  </div>
</header>
