---
---
<div class="mx-8">
  <hr />
  <p class="my-2 text-gray-400">
    <strong>Important:</strong> This screening tool is not a substitute for a diagnosis from a healthcare professional. If
    you have any concerns about your sleep, talk with your healthcare provider.
  </p>
</div>
