---
const {  } = Astro.props
---

<div class="pagination hidden flex place-content-center m-4 space-x-4 transition ease-in-out delay-200">
  <a class="btn hidden" id="prev">Previous</a>
  <a class="btn btn-accent" id="next">Continue</a>
  <button class="btn btn-submit hidden" id="submit">Submit</button>
</div>